<div class="container flex-grow-1 p-3 text-center">
  <h3>About Move & Groove Panda Fitness</h3>
  <hr>
  <div class="p3 text-center">
    <p class="hashtags pt-3">#AllYouNeedIsMotivation</p>
    <p>It's about breaking personal records and personal rules.
      Surprising everyone, especially yourself.
      Refusing to break down and instead breakthrough.
      Powering through, and elevating those around you.</p>

      <p class="hashtags pt-3">Workout Playlist On Spotify</p>
      <p class="workout">Beast Mode | Pumped Pop | Hype | Locked In | Throwback Workout</p>

    <p class="hashtags pt-3"> Move & Groove Panda Fitness</p>
    <p>Our goal is to help you achieve not only you fitness goals but also increase your
    aerobic and anaerobic capacity, strengthen, tone, and sharpen you both physically - and mentally. </p>
  </div>
</div>