<div class="flex-grow-1  d-flex flex-column">
    
  <div class="d-none d-sm-none d-md-block">
    <div class="welcome flex-grow-1">
      <div class="bear ">
        <div class="bear__ears">
          <div class="bear__ears__left ear"></div>
          <div class="bear__ears__right ear"></div>
        </div>
        <div class="bear__body">
          <div class="bear__eyes">
            <div class="bear__eyes--left eye"></div>
            <div class="bear__eyes--right eye"></div>
          </div>
          <div class="bear__nose">
            <div class="bear__nose--inner"></div>
          </div>
        </div>
        <div class="shadow"></div>        
      </div>
      <div class="jumbotron typewriter">
        <h3>Track your fitness habits with our Panda Bear</h3>
        <p>Take your fitness to the next level</p>
      </div>
    </div>
  </div>
  
  <div class="section container my-3 text-center">
    <h3 class="pt-2">Collective activities</h3>
    <div class="row py-3">    
      
      <div class="col-sm-12 col-md-4 py-3">
          <article class="allcard trainersection">
              <a href="#" class="allcard__link">
              
                <!-- Icon -->
                <div class="allcard__icon">
                  <svg viewbox="0 0 1129 994">
                    <g fill="none" fill-rule="nonzero" stroke="#999" stroke-width="41">
                      <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                    </g>
                  </svg>
                </div>
          
                <!-- Media -->
                <div class="allcard__media">
                  <svg viewbox="0 0 1129 994">
                    <g fill="none" fill-rule="nonzero" stroke="#F5F5F5" stroke-width="41">
                      <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                    </g>
                  </svg>
                </div>
          
                <!-- Header -->
                <div class="allcard__header">
                  <h3 class="allcard__header-title">New in trainer section</h3>
                  <p class="allcard__header-meta">See events from trainers around you. </p>
                  <div class="allcard__header-icon">
                    <svg viewbox="0 0 28 25">
                      <path fill="#fff" d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"/>
                    </svg>
                  </div>
                </div>
                
              </a>
            </article>
      </div>
      <div class="col-sm-12 col-md-4 py-3">
          <article class="allcard trainingevents">
              <a href="/events" class="allcard__link">
              
                <!-- Icon -->
                <div class="allcard__icon">
                  <svg viewbox="0 0 1129 994">
                    <g fill="none" fill-rule="nonzero" stroke="#999" stroke-width="41">
                      <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                      <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z"/>
                    </g>
                  </svg>
                </div>
          
                <!-- Media -->
                <div class="allcard__media">
                  <svg viewbox="0 0 1129 994">
                    <g fill="none" fill-rule="nonzero" stroke="#F5F5F5" stroke-width="41">
                      <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                      <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z"/>
                    </g>
                  </svg>
                </div>
          
                <!-- Header -->
                <div class="allcard__header">
                  <h3 class="allcard__header-title">Training events</h3>
                  <p class="allcard__header-meta">All events around you</p>
                  <div class="allcard__header-icon">
                    <svg viewbox="0 0 28 25">
                      <path fill="#fff" d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"/>
                    </svg>
                  </div>
                </div>
                
              </a>
            </article>
      </div>
      <div class="col-sm-12 col-md-4 py-3">
          <article class="allcard trainingbuddy">
              <a href="#" class="allcard__link">
              
                <!-- Icon -->
                <div class="allcard__icon">
                  <svg viewbox="0 0 1129 994">
                    <g fill="none" fill-rule="nonzero" stroke="#999" stroke-width="41">
                      <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                      <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z"/>
                      <path d="M564.5 35.409L39.699 774.5H1089.3L564.5 35.409z"/>
                    </g>
                  </svg>
                </div>
          
                <!-- Media -->
                <div class="allcard__media">
                  <svg viewbox="0 0 1129 994">
                    <g fill="none" fill-rule="nonzero" stroke="#F5F5F5" stroke-width="41">
                      <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                      <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z"/>
                      <path d="M564.5 35.409L39.699 774.5H1089.3L564.5 35.409z"/>
                    </g>
                  </svg>
                </div>
          
                <!-- Header -->
                <div class="allcard__header">
                  <h3 class="allcard__header-title">My gym buddy</h3>
                  <p class="allcard__header-meta">Find your gym buddy</p>
                  <div class="allcard__header-icon">
                    <svg viewbox="0 0 28 25">
                      <path fill="#fff" d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"/>
                    </svg>
                  </div>
                </div>
                
              </a>
            </article>
      </div>
    </div>



  </div>
  
</div>