<div class="flex-grow-1 d-flex ">
<div class="welcometext flex-grow-1 d-flex justify-content-center flex-column">
  <div class="jumbotron typewriter p-3 mt-3">
    <h3>Track your fitness habits with our Panda Bear</h3>
    <p>Take your fitness to the next level</p>
    
  </div>
</div>

<div class=" welcome flex-grow-1">
  <div class="bear">
    <div class="bear__ears">
      <div class="bear__ears__left ear"></div>
      <div class="bear__ears__right ear"></div>
    </div>
    <div class="bear__body">
      <div class="bear__eyes">
        <div class="bear__eyes--left eye"></div>
        <div class="bear__eyes--right eye"></div>
      </div>
      <div class="bear__nose">
        <div class="bear__nose--inner"></div>
      </div>
    </div>
  </div>
  <div class="shadow"></div>
  
</div>

</div>