<% if flash[:notice]%>
      <div class="alert alert-success text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice]%>
      </div>
    <% elsif flash[:error]%>
      <div class="alert alert-error text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error]%>
      </div>
    <% elsif flash[:alert]%>
      <div class="alert alert-info text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert]%>
      </div>
    <%end%>